.browser__banner--wrapper {
  background-color: #141414;
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
}

/* BrowserNavbar */

.browser-navigation--container {
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
}

.browser-navigation--wrapper {
  align-items: center;
  display: flex;
  height: var(--nav-height);
  max-width: 1800px;
  width: 100vw;

  padding: 40px 0;
  justify-content: space-between;

  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar--scrolled {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), #141414);
  backdrop-filter: blur(6px);
}

.navigation-title--wrapper {
  display: flex;
}

.browser-nav__links {
  display: flex;
  align-items: center;
  margin-left: 24px;
  gap: 12px;
}

.navigation--nav {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--md-font);
}

.browser-navigation-dropdown--wrapper {
  position: relative;
}

.browser-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-svg {
  font-size: 1.4rem;
  transition: all 200ms ease;
}
.browser-navigation:hover .arrow-svg {
  transform: rotate(180deg);
}

.navigation-profile_image--dropdown-wrapper {
  border-radius: 4px;
  height: 4.5dvh;
  width: 4.5dvh;
  max-height: 38px;
  max-width: 38px;
}

.browser-navigation--dropdown {
  position: absolute;

  width: 200px;
  flex-direction: column;
  display: flex;

  align-items: flex-end;
  top: 6dvh;
  right: 0;
  opacity: 0;
  transition: all 200ms ease;
}

.arrowup-svg {
  font-size: 1.6rem;

  position: absolute;
  top: -16px;
  right: 30px;
}
.browser-navigation--dropdown ul {
  height: 250px;
  width: 220px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 2px;
}

.browser-navigation:hover + .browser-navigation--dropdown,
.browser-navigation--dropdown:hover {
  opacity: 1;
}
.dropdown_opt {
  width: 100%;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}
.dropdown_opt:hover {
  text-decoration: underline;
}
.signout_opt {
  border-top: 1px solid whitesmoke;
  justify-content: center;
  align-items: center;
}
.do-svg {
  font-size: 1.7rem;
}
