.browser__banner--wrapper {
  background-color: #141414;
  width: 100dvw;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
}

/* BrowserNavbar */

.browser-navigation--container {
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 10;
}

.browser-navigation--wrapper {
  align-items: center;
  display: flex;
  height: var(--nav-height);
  max-width: 1800px;
  width: 100vw;

  padding: 40px 0;
  justify-content: space-between;

  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar--scrolled {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), #141414);
  backdrop-filter: blur(6px);
}

.navigation-title--wrapper {
  display: flex;
}

.browser-nav__links {
  display: flex;
  align-items: center;
  margin-left: 24px;
  gap: 12px;
}

.navigation--nav {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--md-font);
}

.browser-navigation-dropdown--wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.browser-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  right: 0;
  transition: all 200ms ease;
}

.arrow-svg {
  font-size: 1.4rem;
  transition: all 200ms ease;
}
.browser-navigation:hover .arrow-svg {
  transform: rotate(180deg);
}

.navigation-profile_image--dropdown-wrapper {
  border-radius: 4px;
  height: 4.5dvh;
  width: 4.5dvh;
  max-height: 38px;
  max-width: 38px;
}

.browser-navigation--dropdown {
  position: absolute;

  width: 200px;
  flex-direction: column;
  display: flex;

  align-items: flex-end;
  top: 28px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.arrowup-svg {
  font-size: 1.6rem;

  position: absolute;
  top: -16px;
  right: 30px;
}
.browser-navigation--dropdown ul {
  height: 250px;
  width: 220px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 2px;
}

.browser-navigation-dropdown--wrapper:hover .browser-navigation--dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.dropdown_opt {
  width: 100%;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}
.dropdown_opt:hover {
  text-decoration: underline;
}
.signout_opt {
  border-top: 1px solid whitesmoke;
  justify-content: center;
  align-items: center;
}
.do-svg {
  font-size: 1.7rem;
}

/* Browser Banner */

.browser-banner__container--wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.browser-banner__container--wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;

  background:
    radial-gradient(
      ellipse 200% 100% at 50% 0%,
      transparent 81%,
      #141414c7 91%
    ),
    linear-gradient(to bottom, transparent 90%, #141414);
}
.browser-banner--wrapper {
  width: 100vw;
  height: 100vh;
}
.browser-banner__frame--wrapper {
  height: 100vh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.browser-banner__frame {
  border: none;
  height: 100%;
  width: 177.78vh;
  pointer-events: none;
}
.browser-banner__image {
  display: flex;
  width: 100%;
  height: 100%;
}
.browser-banner__info--container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;

  align-items: center;
}
.browser-banner__info--wrapper {
  position: absolute;
  max-height: 60%;
  max-width: 40%;
  margin-left: 40px;
  text-shadow: 2px 2px 14px black;
  color: white;
}

.browser-banner--title {
  font-size: 4rem;
  padding-bottom: 20px;
}
.browser-banner--description {
  font-size: 1.6rem;
  padding-bottom: 30px;
}

.banner__buttons {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.button-svg {
  font-size: 1.4em;
}

/* Browser Categories */

.categories-section__container--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 3;
  transform: translateY(-14vh);
  /* gap: 20px; */
}

/* Browser Category */

.category__container--wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 260px;

  width: 100%;
  overflow: visible;
}

.category__row--wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* overflow: visible; */
}

.category__items--wrapper {
  display: flex;
  align-items: center;
  width: 94%;
  overflow-x: auto;
  overflow-y: visible;

  scroll-behavior: smooth;
  column-gap: 12px;
  scroll-snap-type: x mandatory;
  /* border: 2px solid fuchsia; */

  position: absolute;
  height: 550px;
}

.category__image--wrapper {
  border: none;
  position: relative;
  height: 100%;
}
.category__items--wrapper::-webkit-scrollbar {
  display: none;
}
.category__items--wrapper > * {
  scroll-snap-align: start;
}

.category__item--wrapper {
  /* border: 2px solid chartreuse; */
  border-radius: 6px;
  flex: 0 0 260px;
  /* height: 160px; */
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;
  background-color: #141414;
}
.category__details--wrapper {
  background-color: #141414;
  opacity: 0;
  visibility: hidden;
  position: absolute;

  transition: opacity 0.3s ease;
  height: 120px;
  /* pointer-events: none; */

  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 4px;
  box-shadow:
    5px 5px 10px 2px rgba(0, 0, 0, 0.705),
    -5px 5px 10px 2px rgba(0, 0, 0, 0.705);
}
.category__item--wrapper:hover {
  overflow: visible;
  position: relative;
  transform: scale(1.2) translateY(-20px);
  z-index: 50;
  box-shadow:
    5px 5px 10px 2px rgba(0, 0, 0, 0.705),
    -5px 5px 10px 2px rgba(0, 0, 0, 0.705);
}

.category__item--wrapper:first-child:hover {
  transform-origin: left center;
}

.category__item--wrapper:last-child:hover {
  transform-origin: right center;
}

.category__item--wrapper:hover .category__details--wrapper,
.category__details--wrapper:hover {
  position: relative;
  opacity: 1;
  top: 0;
  visibility: visible;
  display: flex;
}

.category__cardImage--image {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.category__cardImage--image:hover {
  border-radius: 6px 6px 0 0;
}
.category__card-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: black;
  text-shadow: 0 0 10px whitesmoke;
  font-weight: 700;
}
.arrow-btn-left,
.arrow-btn-right {
  color: aliceblue;
  position: absolute;

  border-radius: 8px;
  padding: 38px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  font-size: var(--lg-font);
  font-weight: 200;
  color: white;

  z-index: 100;
}

.arrow-btn-right {
  right: 30px;
}
.arrow-btn-left {
  left: 30px;
}

/* Category Card Hover Details */

.details__btns--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px 10px 2px;
}
.btns--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.detail-btn {
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  border: 1px solid rgb(209, 209, 209);
  padding: 4px;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}
.play {
  padding-left: 8px;
  background-color: aliceblue;
  color: black;
}

.details__genres--wrapper {
  /* display: flex; */
  gap: 14px;
  font-size: 0.8rem;
}
