@import url("./main.css");
@import url("./props.css");
@import url("./navbar.css");

@import url("./landing.css");
@import url("./landingTrending.css");
@import url("./landingMoreReasons.css");

.space {
  height: 100dvh;
}
