.landing__banner--wrapper {
  width: 100dvw;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
  background:
    radial-gradient(
      circle at 40% 35%,
      rgba(250, 86, 86, 0.3) 20%,
      transparent 50%
    ),
    radial-gradient(
        circle at 60% 35%,
        rgba(250, 86, 86, 0.3) 20%,
        transparent 50%
      )
      radial-gradient(
        circle at 50% 50%,
        rgba(81, 72, 245, 0.3) 5%,
        transparent 50%
      );
}

.banner__image--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
  overflow: hidden;
  max-width: 1800px;
  max-height: 760px;

  border-left: 8px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 8px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;
  border-image: linear-gradient(
    to bottom,
    black,
    #a3245d,
    var(--rice-red),
    #a3245d,
    black,
    transparent
  );
  border-image-slice: 1;
}
.banner__image--img {
  width: 100%;
  display: block;
}

.banner__image--wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background:
    radial-gradient(
      circle closest-side at 50% 50%,
      rgba(255, 0, 0, 0.432) 50%,
      rgba(255, 255, 255, 0.493)
    ),
    linear-gradient(to bottom, transparent, rgba(9, 219, 149, 0.5) 90%, blue); */
  /* background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5), black); */

  background:
    radial-gradient(
      circle closest-side at 50% 50%,
      transparent 50%,
      rgba(0, 0, 0, 0.493)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.747) 20%, transparent);
  z-index: 1;
  pointer-events: none;
}

.banner__image--wrapper::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1900px;
  height: 120px;
  background: rgb(0, 0, 0);
  background:
    radial-gradient(
      circle at 50% 50%,
      rgba(81, 72, 245, 0.3) 5%,
      transparent 50%
    ),
    rgb(0, 0, 0);
  border-radius: 50%;
  z-index: 10;
  border: 6px solid var(--rice-red);
}

.hero__header--wrapper {
  color: var(--rice-white);

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  z-index: 15;
  max-width: 600px;
  height: 48%;
}

.hero__header--wrapper h1 {
  font-size: 3.6rem;
  font-weight: 900;
}
.hero__header--wrapper h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.hero__header--wrapper h6 {
  font-size: var(--sm-font);
  font-weight: 400;
}
.header__form--wrapper {
  width: 96%;
  text-align: start;
  padding: 0 12px;
}

.header__form--wrapper p {
  display: flex;
  gap: 5px;
  padding-top: 5px;
  font-size: clamp(0.5rem, 8vh, 0.8rem);
}

.hero__header--form {
  height: var(--xxlg-font);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  gap: 8px;
}
.hero__header--form input {
  height: 100%;
  border-radius: 4px;
  background-color: rgba(67, 67, 67, 0.452);

  border: 2px solid grey;
  font-weight: 700;
  font-size: 1rem;
  flex: 8;
  padding: 18px 0 18px 12px;
  color: white;
}
.hero__header--form input::placeholder {
  color: white;
}
.hero__header--form input:focus-within {
  outline: 2px solid white;
  outline-offset: 2px;
}
.get-started {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex: 3;
  font-size: var(--md-font);
}
.hero__subheader--container {
  width: 100%;
  height: 140px;
  background:
    linear-gradient(to bottom, transparent, black),
    radial-gradient(circle at 50% 5px, #1d184e 10px, transparent 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
.connect__container--wrapper {
  min-width: 70%;
  height: 140px;

  height: 100%;
  display: flex;
  align-items: center;

  transition: all 0.2s ease;
}
.connect__container--wrapper:hover {
  transform: scale(1.08);
}
.connect__container--wrapper:hover .connect__header--container {
  background: linear-gradient(to right, #42215d, #161a3f);
}
.connect__image--wrapper {
  height: 100%;
}
.connect__image--img {
  height: 100%;
}
.connect__header--container {
  border-radius: 12px;
  background: linear-gradient(to right, #251631, #161a3f);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;

  padding: 0 20px;
}
.connect__header--wrapper {
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.secondary__registration--wrapper {
  min-height: 240px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}
.secondary__registration--subtitle {
  font-size: 1rem;
  padding-bottom: 14px;
}
.secondary-started {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex: 2;
  font-size: var(--md-font);
}

footer {
  width: 100%;
  min-height: 500px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__header--wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}
.footer__links--wrapper {
  width: 100%;
  flex: 8;
}
.footer__connect--wrapper {
  width: 100%;
  flex: 5;
}

.footer__links {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 3rem;

  list-style: none;
  padding: 30px 0 20px 0;
  margin: 0;
}

.footer__links li a,
.footer__header--wrapper p,
.footer__header--wrapper p a {
  color: #999;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer__links li a:hover {
  text-decoration: underline;
}

.footer-dropdown {
  max-width: 150px;
  margin: 20;
}

.rice__code--svg {
  background-color: #f3d05e;
  color: black;
  height: 40px;
  border-radius: 5px;
  width: 40px;

  transition: all 300ms ease;
}
.rice__code--svg:hover {
  background-color: #f3d05e;
  /* color: white; */
  transform: scale(1.1);
}
.social__links--wrapper {
  padding-top: 30px;
}
.social__links--wrapper p {
  font-size: 1rem;
  padding-bottom: 10px;
}
.social__links {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}
.social__link {
  font-size: 2.8rem;
}
.social__link a {
  text-decoration: none;
  color: #f3d05e;
  transition: all 300ms ease;
}
.social__link:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #e50914);
}
