.landing__trending--container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 340px;
}
.landing__trending--wrapper {
  margin-top: 36px;
  max-width: 1600px;
  width: 80%;
}

.trending__ten--wrapper {
  height: calc(100% - 36px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__ten--row {
  display: flex;
  width: 94%;
  height: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 32px;
  scroll-snap-type: x mandatory;
}
.trending__ten--row::-webkit-scrollbar {
  display: none;
}
.trending__ten--row > * {
  scroll-snap-align: start;
}

.arrow-btn {
  border-radius: 8px;
  padding: 38px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  font-size: var(--lg-font);
  font-weight: 200;
  color: white;

  transition: all 1s ease;
}
.arrow-btn:disabled {
  opacity: 0;
}

.trending__card--wrapper {
  /* border: 2px solid firebrick; */
  flex: 0 0 200px;
  position: relative;

  display: flex;
  justify-content: end;
  align-items: center;
}

.trending__cardImage--wrapper {
  height: 90%;
  width: 90%;

  border-radius: 8px;

  transition: all 0.2s ease;
  transform-origin: center;
}

.trending__cardNumber--wrapper {
  position: absolute;
  bottom: 5%;
  left: 0;
  font-size: clamp(6rem, 8vh, 7rem);
  font-weight: 900;

  color: black;
  text-shadow:
    -1.5px -1.5px 0 white,
    1.5px -1.5px 0 white,
    -1.5px 1.5px 0 white,
    1.5px 1.5px 0 white;

  transition: all 0.2s ease;
  transform-origin: center;
}

.trending__cardImage--wrapper:hover,
.trending__cardImage--wrapper:hover + .trending__cardNumber--wrapper {
  transform: scale(1.1);
}

.trending__cardImage--image {
  width: 100%;
  border-radius: 8px;
}
