.landing__banner--wrapper {
  width: 100dvw;
  height: 100%;

  display: flex;
  justify-content: center;
}

.banner__image--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
  overflow: hidden;
  max-width: 1800px;

  border-left: 8px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 8px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;
  border-image: linear-gradient(
    to bottom,
    black,
    #a3245d,
    var(--rice-red),
    #a3245d,
    black,
    transparent
  );
  border-image-slice: 1;
}
.banner__image--img {
  width: 100%;
  display: block;
}

.banner__image--wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle closest-side at 50% 50%,
      transparent 10%,
      rgba(0, 0, 0, 0.575)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.747) 20%, transparent);
  /* background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5), black); */
  z-index: 1;
  pointer-events: none;
}

.banner__image--wrapper::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1900px;
  height: 120px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: 10;
  border: 6px solid var(--rice-red);
}
