.landing__banner--wrapper {
  width: 100dvw;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.banner__image--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
  overflow: hidden;
  max-width: 1800px;

  border-left: 8px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 8px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;
  border-image: linear-gradient(
    to bottom,
    black,
    #a3245d,
    var(--rice-red),
    #a3245d,
    black,
    transparent
  );
  border-image-slice: 1;
}
.banner__image--img {
  width: 100%;
  display: block;
}

.banner__image--wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background:
    radial-gradient(
      circle closest-side at 50% 50%,
      rgba(255, 0, 0, 0.432) 50%,
      rgba(255, 255, 255, 0.493)
    ),
    linear-gradient(to bottom, transparent, rgba(9, 219, 149, 0.5) 90%, blue); */
  /* background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5), black); */

  background:
    radial-gradient(
      circle closest-side at 50% 50%,
      transparent 50%,
      rgba(0, 0, 0, 0.493)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.747) 20%, transparent);
  z-index: 1;
  pointer-events: none;
}

.banner__image--wrapper::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1900px;
  height: 120px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: 10;
  border: 6px solid var(--rice-red);
}

.hero__header--wrapper {
  color: var(--rice-white);

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  z-index: 15;
  max-width: 600px;
  height: 40%;
}

.hero__header--wrapper h1 {
  font-size: var(--xxlg-font);
  font-weight: 800;
}
.hero__header--wrapper h3 {
  font-size: var(--md-font);
  font-weight: 600;
}
.hero__header--wrapper h6 {
  font-size: var(--sm-font);
  font-weight: 400;
}

.hero__header--form {
  height: var(--xxlg-font);
  width: 96%;

  display: flex;
  align-items: center;

  gap: 8px;
  padding: 0 12px;
}
.hero__header--form input {
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.452);

  border: 1px solid grey;
  font-weight: 700;
  flex: 7;
  padding: 0 0 0 12px;
}
.get-started {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex: 3;
  font-size: var(--md-font);
}
