.login__container {
  min-height: 400px;
  background: linear-gradient(to top, black, rgb(55, 12, 12));
}

.login__container--wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
.login__signin--wrapper {
  height: 550px;
  display: flex;
  flex-direction: column;
}
.login__signin--wrapper h2 {
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 12px;
}
.login__signin--wrapper h4 {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #999;
}

.login--form {
  display: flex;
  flex-direction: column;
}
.login--form input {
  width: 100%;
  background-color: rgba(2, 2, 2, 0.452);
  border: 1.6px solid grey;
  color: white;
}
.input-wrapper {
  width: 100%;
  background-color: rgba(2, 2, 2, 0.452);
  border: 1.6px solid grey;
  color: white;

  height: 100%;
  border-radius: 4px;

  border: 2px solid grey;
  font-weight: 700;
  font-size: 1rem;
  flex: 8;

  display: flex;
}
.log-icon {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  padding: 0 12px;
}
.input-wrapper input {
  background: none;
  border: none;
}
.login--form input::placeholder {
  color: #999;
}

.get__help--wrapper {
  padding: 40px 0;
}
.get__help--wrapper h4 {
  color: white;
}
.login-started {
  width: 100%;
  text-align: center;
  padding: 14px 0 14px 12px;
  font-size: 1.1rem;
}
.login__footer--container,
.registration__footer--container {
  background-color: #191a1b;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__footer {
  min-height: 300px;
}

.repatcha--wrapper {
  font-size: 0.8rem;

  white-space: normal;
  width: 425px;
}
.repatcha--wrapper p {
  color: #999;
}
.repatcha--wrapper b {
  color: white;
}

/*  Registration */

.registration__container {
  min-height: 900px;
  background-color: white;
  width: 100dvw;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.registration__signin--wrapper {
  height: 550px;
  display: flex;
  flex-direction: column;
  max-width: 650px;
}
.registration__signin--wrapper h2 {
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 12px;
  color: black;
}
.registration__signin--wrapper h4 {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
}

.registration__footer--container {
  background-color: rgb(229, 229, 229);
}

.registration__image--wrapper {
  display: flex;
  max-height: 100px;
}
.registration__image--img {
  height: 100%;
}
.repatcha--registration {
  padding-top: 70px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
