@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Figtree:ital@0;1&family=Happy+Monkey&family=Outfit:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --nav-height: clamp(54px, 8vh, 72px);
  --rice-red: #e50914;
  --rice-white: #ffffff;
  --xxlg-font: clamp(2.8rem, 8vh, 3rem);
  --xlg-font: clamp(2.4rem, 8vh, 2.6rem);
  --lg-font: clamp(1.2rem, 8vh, 2rem);
  --md-font: clamp(1rem, 8vh, 1.1rem);
  --sm-font: clamp(0.8rem, 8vh, 1rem);
  --xsm-font: clamp(0.6rem, 8vh, 1rem);
}
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100dvw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.space {
  background-color: rgb(1, 1, 51);
  height: 100dvh;
}
