.profile-container {
  background-color: #141414;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-row {
  max-width: 800px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__title {
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 2rem;
}
.profile_cards--wrapper {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.profile_card--wrapper {
  height: 25vh;
  flex-direction: column;
  display: flex;
}
.profile_image--wrapper {
  border-radius: 4px;
  height: 20dvh;
  width: 20dvh;
}
.profile_card--wrapper:hover .card-1,
.profile_card--wrapper:hover .card-2,
.profile_card--wrapper:hover .card-3,
.profile_card--wrapper:hover .card-4,
.profile_card--wrapper:hover .card-5 {
  outline: 6px solid #8a8a8a;
}
.card-1 {
  background: linear-gradient(to top, #478cdb, #076ad3);
}
.card-2 {
  background: linear-gradient(to top, #a8eba8, #07d33a);
}
.card-3 {
  background: linear-gradient(to top, #eee48a, #ffdc18);
}
.card-4 {
  background: linear-gradient(to top, #db4747, #d31f07);
}
.card-5 {
  background: linear-gradient(to top, #b847db, #6607d3);
}
.card-add {
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-add:hover {
  background-color: #8a8a8a;
}

.profile_image--add {
  height: 65%;
  width: 65%;
}
.profile_image--img {
  height: 100%;
  width: 100%;
}
.profile_card--name {
  padding-top: 10px;
  text-align: center;
  color: #4e4e4e;
  font-size: 1.6rem;
}
.profile__btn--row {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* Modal */

.modal-row {
  max-width: 700px;
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1rem solid #4e4e4e;
  background-color: #1515158a;
  border-radius: 8px;
}
.modal-container {
  background-color: #0d0d0d;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
